.carousel-fade .carousel-inner .item {
  opacity: 0.25;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  left:0 !important;

}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0.25;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
  opacity: 0.3;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    background-size: cover !important;
    min-height: 577px;
    padding: 0;
    max-height: 577px;
    margin: 0;
    height: 100%;
    background-position: center center !important;
    width:100%;
    position:absolute;
    background: rgba(0, 0, 0, 1);
}
.item:nth-child(1) {
  background: url('../images/hero-bg.jpg') no-repeat;
}
.item:nth-child(2) {
  background: url('../images/hero-bg-2.jpg') no-repeat;
}

.carousel-indicators{
  bottom: 0 !important;
}

